#root {
  color: black;
  flex-direction: column;
}

.primary-color {
  background: #d1603d;
  padding: 5px;
  border-radius: 5px;
  color: #333;
}
.primary {
  color: #01C38D;
}

.img1 {
  opacity: 0.75;
  border-radius: 17px;
  height: 400px;
  width: 100%;
  
}
img {
  border-radius: 15px;
  height: 400px;
  width: 500px;
  object-fit: cover;
  
}

@media screen and (max-width: 500px) {
  img {
    border-radius: 15px;
    height: 200px;
    width: 300px;
    object-fit: cover;
  }
}
